.container{
    height: 36em;
}

.header{
    text-align: center;
    padding: 2em 0;
}

.card-container{
    display: inline-flex;
    width: auto;
}

.card{
    background-color: white;
    border: black solid 1px;
    border-radius: 0.3em;
    text-align: center;
    width: 5em;
    margin: 0 0.5em;

}

.demo{
    height: 15em;
    width: 15em;

}

.case-black{
    background-color: black;
}

.case-red{
    background-color: red;
}